.App {
  text-align: center;
}

/****** header ******/
.App-header {
  background-color: #322136;
  min-height: 10vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

/****** navigation ******/


/****** main content ******/
#map { 
  height: 100%;
  width: 100%;
}

.drop-down-menu { 
  width: 100%;
}

/****** footer ******/






