body {
  background-color: #322136;
}

/****** header ******/
.App-header {
  height: 67px;
  margin-bottom: 10px;
  z-index: 1001;
  width: 100%;

}

h1 {
  color: #e19dcc
}

h1, 
h2 {
  text-align: center;
}

ul {
  padding: 9px
}

/****** navigation ******/
nav {
  text-align: left;
  width: 99%;
  overflow-y: scroll;
  visibility: visible;
  background-color: #e19dcc;
  font-size: calc(10px + 2vmin);
  color: white;
  height: 45%;
  position: fixed;  
  left: 0;
  bottom: 0;
}

.list-items {
  -webkit-box-shadow: 2px -1px 10px 0px rgba(0,0,0,0.23);
  -moz-box-shadow: 2px -1px 10px 0px rgba(0,0,0,0.23);
  box-shadow: 2px -1px 10px 0px rgba(0,0,0,0.23);
  padding: 0px 0px 0 9px;
}

/****** main content ******/
#map { 
  height: 100%;
  width: 100%;
    position: fixed;
    width: 99%;
    height: 40%;
    top: 15%;
}

.drop-down-menu { 
  width: 100%;
}

/****** footer ******/






